In [1]:
import seaborn as sns
import pandas as pd

In [2]:
main_df=sns.load_dataset('titanic')

In [5]:

target_df = pd.DataFrame(main_df, columns=['survived'])

In [6]:
import category_encoders as ce

In [13]:
encoder = ce.TargetEncoder(cols=['sex','embarked'])

In [14]:
encoder

TargetEncoder(cols=['sex', 'embarked'])

In [15]:
encoder.fit(main_df, main_df['survived'])

TargetEncoder(cols=['sex', 'embarked'])

In [16]:
X_cleaned = encoder.fit_transform(main_df,main_df['survived'])

In [17]:
encoder.mapping

{'sex': sex
  1    0.188908
  2    0.742038
 -1    0.383838
 -2    0.383838
 dtype: float64,
 'embarked': embarked
  1    0.336957
  2    0.553571
  3    0.389610
  4    0.834289
 -1    0.383838
 -2    0.383838
 dtype: float64}

1